body {
    font-family: Roboto;
    margin: 0;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background: #1F2937;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 15px 200px;
    justify-content: space-between;
  }

  .header ul {
    display: flex;
    padding-left: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* justify-content: flex-end; */
  }

  .header li {
    margin-left: 16px;
  }

  a {
    text-decoration: none;
    color: #E5E7Eb;
  }

  .links {
    display: flex;
    align-items: center;
    /* gap: 15px; */
    border: red 1px solid;
    font-size: 18px;
  }
  
  .footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  